.container {
    width: 120px;
    box-shadow: 0px 2px 22px 0px #7E7A7A40;
    padding: 20px 20px 10px 20px;
    position: absolute;
    right: 8px;
    top: 15px;
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
}

.container p {
    margin-bottom: 10px;
}

.container p:hover {
    cursor: pointer;
}